/*empieza clases*/

.foto-clase {
  width: 100%;
}

.tituloclases {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 22ch;
  animation: typing 8s steps(22), blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }

}

@keyframes blink {
  50% {
    border-color: transparent
  }

}

.titulomascursos {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 12ch;
  animation: typing 10s steps(12), blink .3s infinite step-end alternate;
  overflow: hidden;
}



.titulodisciplinas1 {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 22ch;
  animation: typing 10s steps(22), blink .3s infinite step-end alternate;
  overflow: hidden;


}

.titulodisciplinas2 {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 23ch;
  animation: typing 10s steps(23), blink .5s infinite step-end alternate;
  overflow: hidden;

}

.titulootroscursos {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 23ch;
  animation: typing 14s steps(23), blink .5s infinite step-end alternate;
  overflow: hidden;

}

.tituloclasesonline {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 24ch;
  animation: typing 18s steps(24), blink .5s infinite step-end alternate;
  overflow: hidden;
}

.tituloaranceles {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 10ch;
  animation: typing 22s steps(10), blink .5s infinite step-end alternate;
  overflow: hidden;
}

table {
  color: #E9DFCB;
}


#lista-desordenada {
  color: #FBFAFF;
  margin-bottom: 100px;
  font-weight: bold;
}

ol {
  color: #FBFAFF;
}

.container-table-1 {
  border: solid 1px #E9DFCB;
  @include sizes (622px, 1282px);
  background-image: linear-gradient(to right, #3D4045, #E6678E);
  animation: movimiento 5s linear infinite alternate;
  background-size: 200%, 200%;
  position: relative;

  @keyframes movimiento {
    from {
      background-position: 0, 0;
    }

    to {
      background-position: 100%, 100%;
    }
  }
}

.container-table {
  border: solid 1px #E9DFCB;
  @include sizes (622px, 1282px);

}

.container-table {
  background-image: linear-gradient(to right, #3D4045, #E6678E);
  animation: movimiento 5s linear infinite alternate;
  background-size: 200%, 200%;
  position: relative;

  @keyframes movimiento {
    from {
      background-position: 0, 0;
    }

    to {
      background-position: 100%, 100%;
    }
  }
}




.tablachica {
  width: 1400px;
}






/*Clases para dispositivos medianos*/
@media screen and (max-width :$pantalla-mediana) {
  .tablachica {
    width: 516px;
  }

}

/*clases para media query pequeños*/

@media screen and (max-width:$pantalla-mobile) {




  .tablachica {
    width: 340px;
  }

  .container-table-1 {
    @include sizes (20rem, 68rem);

  }

  .container-table {
    border: solid 1px #E9DFCB;
    ;

    @include sizes (20rem, 84rem);
  }





  .titulodisciplinas {
    font-size: 1rem;
  }

  .tituloclasesonline {
    font-size: 1rem;
  }


}