/* Parte del Index desktop  */
* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}


h1 {


  color: $h1-color;
  display: flex;
  justify-content: center;

}


h1 {
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

h2 {

  color: $h2-color;
  text-align: center;
}

h3 {
  color: $h3-color;
}


@keyframes aparecer {
  0% {
    opacity: 0;

  }


  100% {
    opacity: 1;
  }
}

.video-escuela {
  @include sizes (100%, 735px);


}


.info-escuela {
  text-align: center;
}


.grid div {

  @include border(solid, 2px, rgb(245, 245, 245));
}

.item1 {
  .establecimiento {
    @include sizes (400px, 400px)
  }
}

.item2 {
  background-image: $bg-item;
  animation: movimiento 4s linear infinite alternate;
  background-size: 200%, 200%;
  position: relative;

  @keyframes movimiento {
    from {
      background-position: 0, 0;
    }

    to {
      background-position: 100%, 100%;
    }
  }
}

.item3 {
  background-image: $bg-item;
  animation: movimiento 4s linear infinite alternate;
  background-size: 200%, 200%;
  position: relative;

  @keyframes movimiento {
    from {
      background-position: 0, 0;
    }

    to {
      background-position: 100%, 100%;
    }
  }
}

.linkredes {
  color: #DBE5F7;
  text-decoration: none;
}

.d-block {
  @include flex-column;
  align-items: center;
  color: #DBE5F7;
}

.redes {
  @include flex-column;
  align-items: center;

  text-align: center;
  margin-bottom: 3rem;
}





/*Index dispositivos medianos*/

.nav-toggler {
  color: #F05677;
}

@media screen and (max-width:$pantalla-mediana) {
  .video-escuela {

    height: 437px;
  }

}

/*Index dispositivos pequeños*/

@media screen and (max-width:$pantalla-mobile) {
  .video-escuela {

    height: 282px;
  }

}